<h3>Hi {{currentUser.name | uppercase}}!</h3> <p><a [routerLink]="['/login']">Logout</a></p>
<button *ngIf="!isTimerRunning && stopWatch.numberOfSecondsRead == 0" (click)="toggleStartStopTimer()" 
        mat-raised-button>
        <div class="btn-start-stop-content">
          <span>Start Test</span>
          <span>&nbsp;&nbsp;&nbsp;{{stopWatch.displayText}}</span>
        </div>
      </button>
      <button *ngIf="isTimerRunning" class="btn-start-stop btn-start-stop-running" (click)="toggleStartStopTimer()" mat-raised-button>
        <div class="btn-start-stop-content">
          <span>Stop / Complete</span>
          <span>&nbsp;&nbsp;&nbsp;{{stopWatch.displayText}}</span>
        </div>
      </button>

      <button *ngIf="!isTimerRunning && stopWatch.numberOfSecondsRead > 0" (click)="resetTimer()" 
        mat-raised-button>
        <div class="btn-start-stop-content">
          <span>Re-test</span>
        </div>
      </button>
<p>Click Start Test button to answer questions: </p>
<app-quizz [timerRunning]="isTimerRunning"></app-quizz>